html
body {
	margin: 0;
 	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
}

.header {
	font-size: 17px;
	font-family: 'Cuprum';
}

.container {
	width: 940px;
	margin: 0 auto;
	position: relative;
}
.clearfix:after {
	content: '';
	display: table;
	clear: both;
}
.top-header .container {
	position: relative;
}

.top-header {
	background-color: #293449;
	height: 43px;
	line-height: 43px;
	vertical-align: middle;
	width: 100%;
	margin-bottom: 0;
}

.top-header-top-nav {
	display: flex;
}

.logo {
	float: left;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	font-weight: 700;
	background: #EE3643;
	font-size: 24px;
	line-height: 42px;
	width: 220px;
}

.top-header .logo:after {
	position: absolute;
	content: '';
	left: 0;
	top: 41px;
	width: 220px;
	height: 4px;
	background: #b52933;
}

.logo:hover {
	background: #ca2c37;
}

.logo:active {
	background: #ba2732;
}




.top-header-search {
	position: relative;
	display: inline-block;
	color: #ffffff;
	line-height: 15px;
}

.top-header-search input {
	height: 30px;
	width: 150px;
	border: none;
	padding: 5px 0 5px 40px;
	background: #293449 url('../img/search.png') no-repeat 5% 50%;
	opacity: 0.5;
	color: #293449;
}

.top-header-search input:hover {
	opacity: 1;
	background: #212a3a url('../img/search.png') no-repeat 5% 50%;
	color: #212a3a;
}

.top-header-search label {
	margin-left: 40px;
	position: absolute;
	top: 11px;
	left: 0;
}

.top-header-search input[type=text]:active +label {
	color: #FFFFFF;
}

.top-header-search input[type=text]:focus +label {
	display: none;
}


.top-header-bookmarks {
	position: relative;
	overflow: hidden;
}

.top-header-bookmarks:before {
	content: '';
	position: absolute;
	left: 7px;
	top: 10px;
	width: 30px;
	height: 30px;
	background: url('../img/bookmark-icon.png') no-repeat;
	opacity: 0.3;
}

.top-header-bookmarks:hover:before {
	opacity: 1;
}

.top-header-bookmarks:hover:active {
	opacity: 0.2;
}

.top-header-bookmarks a {
	color: #FFFFFF;
	text-decoration: none;
	padding: 12px 30px 12px 43px;
	line-height: 42px;
}

.top-header-bookmarks a:hover {
	background: #212a3a;
}

.top-header-bookmarks a:active {
	color: #5f6671;
	background: #161d29
}



.top-header-basket {
	position: relative;
	overflow: hidden;
}

.top-header-basket:before {
	content: '';
	position: absolute;
	left: 7px;
	top: 10px;
	width: 30px;
	height: 30px;
	opacity: 0.3;
}

.top-header-basket:hover:before {
	opacity: 1;
}

.top-header-basket:hover:active {
	opacity: 0.2;
}

.top-header-basket a {
	color: #FFFFFF;
	text-decoration: none;
	padding: 12px 30px 12px 43px;
	line-height: 42px;
}

.top-header-basket a:hover {
	background: #212a3a;
}

.top-header-basket a:active {
	color: #5f6671;
	background: #161d29
}

.top-header-order {
	margin-left: 60px;
}
.top-header-order a {
	color: #FFFFFF;
	background: #63A63E;
	text-decoration: none;
	line-height: 39px;
	padding: 13px 22px;
}

.top-header-order a:hover {
	background: #5fbb2d;
}

.top-header-order a:active {
	color: #85a971;
}

/********/
.bottom-header {
  background: #F1F5F7;
}

.bottom-header .container {
  padding: 0 10px 60px;
}

.bottom-menu {
  padding-top: 40px;
  padding-bottom: 40px;
}

.bottom-menu-description {
  margin: 0 20px 0 40px;
  width: 200px;
  color: #EE4F5B;
  float: left;
  font-style: italic;
  font-size: 16px;
  line-height: 1.438;
}

.bottom-menu-contacts {
  float: left;
  margin: 0 0 0 20px;
  width: 250px;
  position: relative;
}

.contacts-number {
  border: 3px solid #FFFFFF;
  padding: 8px 15px 8px 34px;
  margin: 0 0 10px 0;
  color: #e9292a;
  font-size: 21px;
  display: inline-block;
}

.contacts-number:before {
  content: '';
  position: absolute;
  left: 8px;
  top: 7px;
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

.contacts-adress {
  color: #32425C;
  margin: 0;
  padding-left: 10px;
  font-size: 16px;
  line-height: 1.125;
}

.bottom-menu-user-block {
  float: right;
  font-size: 21px;
  font-weight: 400;
  line-height: 0.857;
  padding-left: 100px;
  position: relative;
}

.login,
.registration {
  color: #000000;
  text-decoration: none;
  padding: 12px 25px;
  background: #FFFFFF;
  display: inline-block;
}

.login {
  margin-right: 10px;
  padding: 12px 26px 12px 46px;
}

.login:hover {
  color: #ee3643;
}

.login:active {
  color: #b2b2b2;
}

.login:before {
  content: '';
  position: absolute;
  left: 110px;
  top: 9px;
  width: 30px;
  height: 30px;
  opacity: 0.5;
}

.login:hover:before {
  opacity: 1;
}

.registration:hover {
  color: #ee3643;
}

.registration:active {
  color: #b2b2b2;
}


/*main navigation*/


.main-navigation {
	background: #32425c;
	border-bottom: 5px solid #293449;
}

.main-navigation-menu {
	text-align: center;
}

.main-navigation-menu a:hover {
	background: #293449;
}

.main-navigation-menu a:active {
	background: #1d2739;
	color: #616874;
	border: none;
}

.main-navigation-menu {
	padding: 0;
	font-size: 0;
}

.main-navigation-menu li {
  
	display: inline-block;
}

.main-navigation-menu a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 17px;
	padding: 20px;
}



/*promo block*/

.promo-block {
	font-size: 0;
	margin: 40px 0 50px;
	font-family: 'Cuprum';
	position: relative;
}

.promo-item {
	width: 260px;
	min-height: 83px;
	display: inline-block;
	vertical-align: top;
	margin: 0 0 20px 20px;
	padding: 20px;
}

.promo-item:first-child {
	margin-left: 0;
}

.promo-item .title-list {
	color: #ffffff;
	font-size: 24px;
	font-weight: 700;
	display: inline-block;
	margin-bottom: 12px;
}

.promo-block a {
	text-decoration: none;
}

.promo-item-materials {
	background: #F6B22D url("../img/promo-item01.png") no-repeat 220px 40px;
	position: relative;
}

.promo-item-tools {
	background: #4AAFDE url("../img/promo-item03.png") no-repeat 210px 40px;
}

.promo-item-technics {
	background: #CC79D1 url("../img/promo-item02.png") no-repeat 210px 40px;
}

.promo-item-sales {
	background: #85D179 url("../img/promo-item04.png") no-repeat 210px 40px;
	float: right;
}

.promo-item-transfer {
	background: #F6B22D url("../img/promo-item05.png") no-repeat 210px 40px;
	float: right;
}

.promo-info {
	width: 135px;
	color: #ffffff;
	font-size: 14px;
	line-height: 1.287;
	text-align: center;
	text-transform: uppercase;
	display: inline-block;
	padding: 13px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 3%;
}

.promo-info:hover {
	background: rgba(0, 0, 0, 0.2);
}

.promo-info:active {
	background: rgba(0, 0, 0, 0.3);
	border: none;
}
.promo-item-materials:after {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
}



.banner-slider {
  width: 620px;
  height: 268px;
  float: left;
  position: relative;
  color: #fff;
  overflow: hidden;
  background-color: #7a7068;
}

.slider {
  height: 266px;
  padding: 0;
  position: relative;
}

.slider-slide {
  max-width: 100%;
  float: left;
  list-style: none;
  z-index: 1;
}

.slider-pager {
  position: absolute;
  bottom: 35px;
  left: 46.7%;
  width: 42px;
  height: 10px;
  text-align: center;
  z-index: 10;
}

.page-btn {
  display: inline-block;
  width: 7px;
  height: 7px;
  margin: 0 5px;
  background: white;
  border: 2px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

.page-btn--active {
  background: #EE3643;
}

.forward,
.back {
  position: absolute;
  top: 123px;
  left: 30px;
  background: url('../img/slider-forward-left.png') no-repeat 5px 5px;
  font-size: 0;
  width: 20px;
  height: 36px;
  padding: 5px;
  cursor: pointer;
}

.forward {
  left: 570px;
  background: url('../img/slider-forward-right.png') no-repeat 5px 5px;
}

.btn {
  display: block;
  font-family: 'Cuprum';
  font-size: 14px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: #fb565a;
  border-radius: 3px;
  padding: 10px 0;
}

.btn-catalog {
  display: inline-block;
  padding: 10px 40px;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.btn:hover {
  background: #ca2c37;
}

.btn:active {
  background: #ba2732;
  color: #cf6870;
  border: none;
}

.slider .btn {
  margin-left: 30px;
  width: 195px;
}

.slider-slide {
  // display: none;
}

.slider-slide:nth-child(1) {
  // display: block;
}


/*Популярные товары*/


.section-header {
	background: #F7F3EC;
	margin-bottom: 20px;
}
.section-header h3 {
	float: left;
	color: #32425c;
	text-transform: uppercase;
	font-family: 'Cuprum';
	font-size: 30px;
	font-weight: 400;
	margin: 0 0 0 30px;
	line-height: 89px;
	max-width: 700px;
	white-space: nowrap;
	overflow: hidden;
}
.section-header .btn {
	width: 253px;
	float: right;
	margin: 25px 20px;
}

.product-list {
	margin-bottom: 40px;
	font-family: 'Open Sans';
}

.product-item {
	width: 219px;
	min-height: 250px;
	position: relative;
	display: inline-block;
	/*margin: 0 16px 16px 0;*/
	margin-right: 11px;
	padding-bottom: 70px;
	border: 1px solid #ccc;
	line-height: 20px;
	font-weight: bold;
	vertical-align: top;
  	font-size: 16px;
}
.product-item:hover {
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.product-item .product-item-image {
	margin: auto;
}

.product-item .product-item-image img {
	width: 100%;
}

.product-item .product-item-title {
	padding: 0 25px;
	margin: 10px 0;
	display: block;
	color: black;
	text-decoration: none;
}

.price-old {
	color: #999;
}

.price {
	display: block;
	position: absolute;
	left: 45px;
	bottom: 20px;
	width: 80px;
	margin: 0 auto;
	padding: 10px 30px;
	color: white;
	background: #EE3643;
	border-radius: 3px;
	text-decoration: none;
	font-weight: 600;
	line-height: 1.126;
}

.product-item .product-item-action {
	position: absolute;
	top: 0;
	left: 0;
	width: 220px;
	height: 88px;
	padding: 40px 0;
	z-index: 10;
	background-color: rgba(255, 255, 255, 0.9);
}

.product-item .product-item-action .buy,
.product-item .product-item-action .bookmark {
	display: block;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;
	border: 3px solid #63a63e;
	border-bottom-color: #367315;
	background: #63a63e;
	color: white;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
}

.product-item .product-item-action .bookmark {
	color: #32425c;
	background: white;
	border-bottom-color: #63a63e;
}

.product-item .product-item-action {
	display: none;
}

.product-item:hover .product-item-action {
	display: block;
}

.product-item .product-item-action .buy:hover {
	background: #5fbb2d;
}

.product-item .product-item-action .buy:active {
	box-shadow: 0 100px 0 0 rgba(0, 0, 0, 0.2) inset;
	border: 3px solid #518534;
}

.product-item .product-item-action .bookmark:hover {
	border: 3px solid #32425c;
}

.product-item .product-item-action .bookmark:active {
	border: 3px solid #c1c6ce;
	color: #c1c6ce;
}

/*популярные бренды*/

.popular-brand-list {
	margin-bottom: 60px;
}

.brand {
	width: 220px;
	height: 145px;
	display: inline-block;
	margin: 0 16px 16px 0;
	border: 1px solid #ccc;
}

.brand:hover {
	box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.brand:active {
	opacity: 0.3;
	border: none;
}

.brand:nth-child(4n) {
	margin-right: 0;
}

.popular-brand-list img {
	max-width: 100%;
	text-align: center;
	margin: auto;
}

/******/

.service-content {
	background: #F1F5F7;
	margin-bottom: 70px;
}

.service-content h2 {
	color: #000000;
	font-family: 'Cuprum';
	font-size: 30px;
	font-weight: 400;
	line-height: 0.8;
	padding-top: 60px;
	margin: 0 0 20px;
	text-transform: uppercase;
}

.service-introduction {
	font-weight: 300;
	line-height: 1.846;
	margin: 0;
}

/*****/


.company {
	margin: 0 auto 85px;
	line-height: 1.846;
}

.about {
	float: left;
	width: 600px;
}

.about-header,
.contacts-header {
	margin: 0 0 35px 0;
	font-family: 'Cuprum';
	font-size: 30px;
	font-weight: 400;
	line-height: 0.8;
}

.about p {
	margin: 15px 0;
}

.variants-transfer {
	list-style: none;
	position: relative;
	margin: 25px 0;
}

.variants-transfer li:before {
	content: '';
	width: 25px;
	height: 2px;
	background: #FB565A;
	position: absolute;
	left: 0;
	top: 17px;
}

.variants-transfer li:nth-child(2):before {
	top: 53px;
}

.variants-transfer li:nth-child(3):before {
	top: 89px;
}

.variants-transfer a {
	color: #000000;
	font-size: 18px;
	line-height: 2;
	text-decoration: none;
	font-family: 'Cuprum';
}

.btn-about {
	width: 220px;
	margin: 10px 0 0;
}

.contacts {
	float: right;
	width: 320px;
}

.map img {
	margin: 14px 0;
}

.btn-email {
	width: 300px;
	margin: 14px 0 0;
}

.address {
	padding: 0;
	margin: 0;
	display: block;
}


/*footer*/

.footer-top {
	background: #32425C;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 18px;
	padding-bottom: 50px;
}

.footer-top-contacts {
	float: left;
	color: #FFFFFF;
	width: 300px;
	position: relative;
}
.logo {
	float: left;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	font-weight: 700;
	background: #EE3643;
	font-size: 24px;
	line-height: 42px;
	width: 220px;
}

.footer-top .footer-logo:after {
	position: absolute;
	content: '';
	left: 0;
	top: 41px;
	width: 220px;
	height: 4px;
	background: #b52933;
}
.footer-top .footer-logo {
	float: left;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	color: #FFFFFF;
	font-weight: 700;
	background: #EE3643;
	font-size: 24px;
	line-height: 42px;
	width: 220px;
}

.footer-address {
	display: inline-block;
}

.footer-navigation {
	float: right;
	padding-top: 35px;
	width: 590px;
}

.footer-top-site-navigation {
	display: flex;
	margin: 0 0 35px;
	padding: 0;
}

.footer-top-site-navigation li {
	list-style: none;
	padding-left: 40px;
}

.footer-top-site-navigation a {
	text-decoration: none;
	color: #f1f5f7;
	padding: 10px;
}


.footer-top-shop-navigation {
	display: flex;
	align-items: center;
	position: relative;
	margin: 0;
	padding: 0;
}
.footer-top-contacts p{
	font-size: 18px;
}
.footer-top-shop-navigation li {
	list-style: none;
	/*   display:inline-block; */
	padding-left: 35px;
}
.footer-top-shop-navigation a {
	color: #FFD180;
	text-decoration: none;
	padding: 10px;
}

.bottom-footer {
	background: #293449;
	color: #FFFFFF;
	font-family: 'Cuprum';
	font-size: 16px;
}

.bottom-footer .container {
	padding: 40px 0;
}

.footer-copyright {
	float: left;
	width: 350px;
	margin: 0 30px 0 0;
}

.footer-social {
	float: left;
	width: 200px;
	margin-right: 60px;
}
.footer-feedback {
	float: left;
	width: 140px;
	margin: 0;
}

.footer-feedback a {
	color: #FFD180;
	text-decoration: none;
}

.footer-develop {
	float: right;
	margin: 0;
	width: 130px;
}

.footer-develop a {
	color: #FFD180;
	text-decoration: none;
}
/**Каталог**/


.breadcrumbs {
	padding: 0;
	margin: 20px 20px 20px 30px;
	position: relative;
}

.breadcrumbs li {
	list-style: none;
	display: inline-block;
	color: #000000;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 20px;
}

.breadcrumbs a {
	color: #000000;
	text-decoration: none;
}


.main-title {
	background: #f2f6f8;
	font-family: 'Cuprum', 'Arial', sans-serif;
	color: #32425c;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 30px;
	margin: 0 0 20px;
}

.filter {
	float: left;
	width: 220px;
	position: relative;
	margin: 0 0 60px;
}

.filter-block {
	font-family: 'OpenSans', sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	background: #f7f3ec;
	padding: 16px 16px;
	margin: 0 0 12px;
}

.filter h3 {
	font-family: 'OpenSans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.877;
	text-transform: uppercase;
	margin: 0;
	display: block;
	padding: 0 0 10px;
}
.price-slider {
	position: relative;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: normal;
	width: 220px;
	padding: 0 0 40px;
}


.range-controls {
	position: relative;
	height: 80px;
	margin-bottom: 15px;
	padding: 0 30px;
	background: #f7f3ec;
	border-radius: 5px;
	overflow: hidden;
}

.range-controls .dial {
	margin-top: 39px;
	height: 2px;
	background: #d7dcde;
}

.range-controls .band {
	height: 2px;
	background: #00ca74;
	width: 70%;
}

.range-controls .switch {
	width: 4px;
	height: 4px;
	border: 8px solid white;
	background: #ababab;
	position: absolute;
	top: 30px;
	left: 30px;
	cursor: pointer;
	border-radius: 50%;
	-moz-box-shadow: 0 2px 1px 0 #cfcfcf;
	-webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .max-switch {
	left: 145px;
}

.price-controls input {
	width: 70px;
	padding: 8px 5px;
	margin-left: 5px;
	border: none;
	background: #f7f3ec;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: normal;
	text-align: center;
	color: #283136;
	border-radius: 5px;
}

.price-controls .min-price {
	margin-right: 5px;
}

.price-controls {
	white-space: nowrap;
}

.produser {
	padding: 0 0 40px;
	position: relative;
}

.power {
	padding: 0 0 40px;
	position: relative;
}

.checkbox,
.radiobutton {
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	text-transform: uppercase;
	padding: 0 0 20px;
}

.checkbox:last-child,
.radiobutton:last-child {
	padding: 0;
}

.produser input,
.power input {
	display: none;
}

.produser label,
.power label {
	padding: 0 0 0 30px;
}




.sort {
	float: right;
	width: 700px;
	margin: 0 0 60px;
}

.sort-list{
	margin: 0;
	padding: 0;
	float: right;
	position: relative;
}

.sort-list li {
	display: inline-block;
	margin: 0 30px;
}

.sort-list li:last-child {
	margin: 0 10px;
}

.sort-option {
	padding: 10px 5px 3px;
	color: #bcbcbc;
	font-weight: 400;
	line-height: 18px;
	text-decoration: none;
	border-bottom: 1px dotted #ee3643;
}

.sort-option-active {
	color: #ee3643;
	border-bottom: none;
}
.produser-item-list :nth-child(3n) {
	margin-right: 0;
}


.product-item {
	width: 219px;
	height: 317px;
	background: white;
	border: 1px solid #ccc;
}
.product-list-1 {
	display: flex;
	margin-top: 90px;
}
.product-item-1 {
	margin-left: 20px;
}
.product-item-2 {
	margin-left: 20px;
}
.product-item-3 {
	margin-left: 20px;
}

.product-list-2 {
	display: flex;
	margin-top: 20px;
  
}
.product-list-3 {
	display: flex;
	margin-top: 20px;
}


.pager-list {
	margin-top: 65px;
	margin-bottom: 65px;
	padding: 10px 0;
	margin-left: 230px;
}

.pager-list ul {
	margin: 0;
	padding: 0;
}

.pager-list ul li {
	min-width: 20px;
	display: inline-block;
	text-align: center;
	padding-left: 5px;
}

.page-button {
	text-decoration: none;
	padding: 10px 15px;
	border: 1px solid #e5e5e5;
	color: #000000;
	text-transform: uppercase;
	border-radius: 5%;
}

.about-item {
	background: #f2f6f8;
}

.about-item h2 {
	font-family: 'Cuprum', 'Arial', sans-serif;
	color: #000000;
	font-size: 30px;
	font-weight: 400;
	margin: 0 0 20px;
}

.about-item p {
	font-family: 'OpenSans', sans-serif;
	color: #000000;
	line-height: 24px;
	margin: 0;
}

.about-item-description {
	width: 940px;
	padding: 70px 0;
	margin: 0 auto;
}
