html,
body {
	min-width: 940px;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
	font-size: 14px;
	line-height: 24px;
	color: black;
	font-family: 'PT Sans', 'Arial', sans-serif;
}
.header {
	min-height: 42px;
}
.clearfix::after {
	content: "";
	display: table;
	clear: both;

}

.top-header-logo {
	background-color: red;
	float: left;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 24px;
	font-family: 'Cuprum';
}

.top-header-logo a {
	color: white;
	text-decoration: none;
}
.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

.container1 {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

.top-header {
	background-color: #293449;
	height: 43px;
	line-height: 43px;
	vertical-align: middle;
	width: 100%;
	margin-bottom: 0;
}
.top-header-logo, .top-header-search {
	float: left;
	margin-right: 20px;
	min-height: 42px;
	line-height: 42px;
}
.top-header-search {
	margin-left: 10px;
}
.top-header-search:hover {

}
.search {
	position: relative;
	background-color: #293449;
	color: white;
	border: none;
	font-family: "Cuprum", sans-serif, Arial;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
	width: 140px;
}

.top-header-bookmarks, 
.top-header-basket,
.top-header-order {
	float: left;
}

.top-header-bookmarks {
	/*float: left;*/
	width: 140px;
	color: white;
}
.top-header-basket {
	width: 140px;
	/*float: left;*/
	color: white;
}
.top-header-order {
	/*float: right;*/
	width: 130px;
	color: white;
	font-family: "Cuprum", sans-serif, Arial;
	font-size: 17px;
	line-height: 42px;
	text-align: center;
	font-weight: 400;
	text-decoration: none;
	width: 150px;
	background: #63a63e;
	margin-left: 70px;
}

/*Второй */
.bottom-header {
	padding-top: 40px;
	margin-bottom: 60px;
	background-color: #f1f5f7;
	/*height: 275px;*/
}
.bottom-header-description {
	float: left;
	width: 190px;
	font-family: 'Cuprum', italic;
	font-style: italic;
	line-height: 23px;
	color: #ee3643;
	/* margin-right: 70px; */
	/* padding-left: 50px; */
}
.bottom-header-contacts {
	float: left;
	width: 270px;
	position: relative;
	padding-bottom: 9px;
	padding-left: 70px;
	padding-right: 42px;
	margin-bottom: 5px;
}
.bottom-header-contacts-number {
	position: relative;
	border: 3px solid #ffffff;
	font-size: 21px;
	font-family: "Cuprum", sans-serif, Arial;
	color: #e9292a;
	padding: 10px 20px 10px 10px;
	margin-bottom: 5px;
	width: 270px;
}

.bottom-header-contacts-adress {
	text-align: center;
	font-family: "Cuprum", sans-serif, Arial;
	font-size: 12px;
}
.user-block {
	float: right;
	min-width: 280px;
	display: flex;
}

.user-block-login {
	width: 122px;
	float: left;
	text-align: center;
	background-color: white;
	color: black;
	font-size: 21px;
	font-family: "Cuprum", sans-serif, Arial;
	text-decoration: none;
	line-height: 47px;
}
.user-block-registration {
	float: right;
	width: 150px;
	line-height: 47px;
	text-align: center;
	background-color: white;
	color: black;
	font-size: 21px;
	font-family: "Cuprum", sans-serif, Arial;
	margin-left: 10px;
	text-decoration: none;
}

/*Навигация*/
.main-navigation {
	text-align: center;
	width: 940px;
	float: left;
	font-size: 21px;
	font-family: "Cuprum", sans-serif, Arial;
	margin-bottom: 60px;
	background-color: #32425c;
	color: white;
}
.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.main-navigation li {
	display: inline-block;
	padding-right: 10px;
	font-size: 17px;
	vertical-align: top;
	/*float: left;*/

}
.main-navigation a {
	display: block;
	padding: 25px 20px;
	color: #ffffff;
	text-decoration: none;
}

/*каталог*/
.promo-item {

	width: 300px;
	min-height: 125px;
}
.promo-item-materials {
	background: #f6b22d;
	
}
.promo-item-tools {
	background: #4aafde;

}
.promo-item-technics {
	background: #cc79d1;
}
.promo-item-sales {
	background: #85d179;
}

.promo-item-transfer {
	
	background: #f6b22d;
}


#banner-list-1 {
	display: flex;
	justify-content: space-between;
}

#banner-list-2 {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

#banner-slider {
	min-height: 266px;
	width: 620px;
	background-color: #7a7068;
}

#left-banner {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.slide-button {
	float: left;
	margin-right: 20px;
}
.slide-button a {
	float: left;
	margin-right: 20px;
}




/*Популярные товары*/

.product {
	margin-top: 55px;
	background-color: #f7f3ec;
	margin-bottom: 20px;
	width: 940px;
	height: 88px;
}
.product-item {
	width: 220px;
	height: 317px;
	background: white;
	border: 1px solid #ccc;
}

#product-list {
	display: flex;
	justify-content: space-between
}


/*
.product-section-header h3 {
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: "Cuprum", sans-serif, Arial;
	text-transform: uppercase;
	font-size: 30px;
}
.product-section-header a {
	float: right;
	width: 250px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 20px;
	background: #ee3643;
	border-radius: 3px;
*/
/* Популярные производители*/
.popular-brand-section-header {
	margin-top: 20px;
	background-color: #f7f3ec;
	margin-bottom: 20px;
	width: 940px;
	height: 88px;
}

.brand-item {
	width: 220px;
	height: 145px;
	background: white;
	border: 1px solid #ccc;
}

#popular-brand-list1 {
	display: flex;
	justify-content: space-between
}

#popular-brand-list2 {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}


/*Сервис*/
.service-content {
	margin-top: 64px;
	background-color: #f2f6f8;
	margin-bottom: 70px;
}

#service-introduction {
	display: flex;
	flex-direction: column;

}
.service-title {
	margin-top: 68px;

}
.service-info {
	margin-bottom: 40px;
}
#tab-slider {
	display: flex;
	flex-direction: row;
	align-items: baseline;

}
.slider {
	margin-bottom: 102px;
}
.slider-content {
	padding-left: 80px;
}
.slider-img {

}
/*О Компании*/
.company {
	margin: 0 auto 85px;
	line-height: 22px;
}

.about {
	float: left;
	width: 600px;
}

.about-header,
.contacts-header {
	margin: 0 0 35px 0;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 30px;
	line-height: 22px;
}

.about p {
	margin: 15px 0;
}

.variants-transfer {
	list-style: none;
	position: relative;
	margin: 25px 0;
}

.variants-transfer a {
	color: #000000;
	font-size: 18px;
	line-height: 2;
	text-decoration: none;
	font-family: 'Cuprum', 'Arial', sans-serif;
}

.btn--about {
	width: 220px;
	margin: 10px 0 0;
}

.contacts {
	float: right;
	width: 320px;
}

.map img {
	margin: 14px 0;
}

.btn-email {
	width: 300px;
	margin: 14px 0 0;
}

.address {
	padding: 0;
	margin: 0;
	display: block;
}

/*FOOTER*/
.footer-top {
	background: #32425C;
	font-family: 'Cuprum', 'Arial', sans-serif;
	font-size: 18px;
	padding-bottom: 50px;
}

.footer-top-contacts {
	float: left;
	color: #FFFFFF;
	width: 300px;
	position: relative;
}

.footer-top .footer-logo {
	line-height: 64px;
	font-size: 30px;
	margin-bottom: 30px;
	background-color: red;
	color: white;
}

.footer-address {
	display: inline-block;
}

.footer-navigation {
	float: right;
	padding-top: 35px;
	width: 590px;
}

.footer-top-site-navigation {
	display: flex;
	margin: 0 0 35px;
	padding: 0;
}

.footer-top-site-navigation li {
	list-style: none;
	padding-left: 40px;
}

.footer-top-site-navigation a {
	text-decoration: none;
	color: #f1f5f7;
	padding: 10px;
}


.footer-top-shop-navigation {
	display: flex;
	align-items: center;
	position: relative;
	margin: 0;
	padding: 0;
}

.footer-top-shop-navigation li {
	list-style: none;
	/*   display:inline-block; */
	padding-left: 35px;
}
.footer-top-shop-navigation a {
	color: #FFD180;
	text-decoration: none;
	padding: 10px;
}

.bottom-footer {
	background: #293449;
	color: #FFFFFF;
	font-family: 'Cuprum';
	font-size: 16px;
}

.bottom-footer .container {
	padding: 40px 0;
}

.footer-copyright {
	float: left;
	width: 350px;
	margin: 0 30px 0 0;
}

.footer-social {
	float: left;
	width: 200px;
	margin-right: 60px;
}
.footer-feedback {
	float: left;
	width: 140px;
	margin: 0;
}

.footer-feedback a {
	color: #FFD180;
	text-decoration: none;
}

.footer-develop {
	float: right;
	margin: 0;
	width: 130px;
}

.footer-develop a {
	color: #FFD180;
	text-decoration: none;
	}


/*Catalog.html*/


.breadcrumbs {
	padding: 0;
	margin: 20px 20px 20px 30px;
	position: relative;
}

.breadcrumbs li {
	list-style: none;
	display: inline-block;
	color: #000000;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 20px;
}

.breadcrumbs a {
	color: #000000;
	text-decoration: none;
}


.main-title {
	background: #f2f6f8;
	font-family: 'Cuprum', 'Arial', sans-serif;
	color: #32425c;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 30px;
	margin: 0 0 20px;
}

.filter {
	float: left;
	width: 220px;
	position: relative;
	margin: 0 0 60px;
}

.filter-block {
	font-family: 'OpenSans', sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
	text-transform: uppercase;
	background: #f7f3ec;
	padding: 16px 16px;
	margin: 0 0 12px;
}

.filter h3 {
	font-family: 'OpenSans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.877;
	text-transform: uppercase;
	margin: 0;
	display: block;
	padding: 0 0 10px;
}
.price-slider {
	position: relative;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: normal;
	width: 220px;
	padding: 0 0 40px;
}


.range-controls {
	position: relative;
	height: 80px;
	margin-bottom: 15px;
	padding: 0 30px;
	background: #f7f3ec;
	border-radius: 5px;
	overflow: hidden;
}

.range-controls .dial {
	margin-top: 39px;
	height: 2px;
	background: #d7dcde;
}

.range-controls .band {
	height: 2px;
	background: #00ca74;
	width: 70%;
}

.range-controls .switch {
	width: 4px;
	height: 4px;
	border: 8px solid white;
	background: #ababab;
	position: absolute;
	top: 30px;
	left: 30px;
	cursor: pointer;
	border-radius: 50%;
	-moz-box-shadow: 0 2px 1px 0 #cfcfcf;
	-webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .max-switch {
	left: 145px;
}

.price-controls input {
	width: 70px;
	padding: 8px 5px;
	margin-left: 5px;
	border: none;
	background: #f7f3ec;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-style: normal;
	text-align: center;
	color: #283136;
	border-radius: 5px;
}

.price-controls .min-price {
	margin-right: 5px;
}

.price-controls {
	white-space: nowrap;
}

.produser {
	padding: 0 0 40px;
	position: relative;
}

.power {
	padding: 0 0 40px;
	position: relative;
}

.checkbox,
.radiobutton {
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	text-transform: uppercase;
	padding: 0 0 20px;
}

.checkbox:last-child,
.radiobutton:last-child {
	padding: 0;
}

.produser input,
.power input {
	display: none;
}

.produser label,
.power label {
	padding: 0 0 0 30px;
}




.sort {
	float: right;
	width: 700px;
	margin: 0 0 60px;
}

.sort-list{
	margin: 0;
	padding: 0;
	float: right;
	position: relative;
}

.sort-list li {
	display: inline-block;
	margin: 0 30px;
}

.sort-list li:last-child {
	margin: 0 10px;
}

.sort-option {
	padding: 10px 5px 3px;
	color: #bcbcbc;
	font-weight: 400;
	line-height: 18px;
	text-decoration: none;
	border-bottom: 1px dotted #ee3643;
}

.sort-option-active {
	color: #ee3643;
	border-bottom: none;
}
.produser-item-list :nth-child(3n) {
	margin-right: 0;
}


.product-item {
	width: 219px;
	height: 317px;
	background: white;
	border: 1px solid #ccc;
}
.product-list-1 {
	display: flex;
	margin-top: 90px;
}
.product-item-1 {
	margin-left: 20px;
}
.product-item-2 {
	margin-left: 20px;
}
.product-item-3 {
	margin-left: 20px;
}

.product-list-2 {
	display: flex;
	margin-top: 20px;
  
}
.product-list-3 {
	display: flex;
	margin-top: 20px;
}


.pager-list {
	margin-top: 65px;
	margin-bottom: 65px;
	padding: 10px 0;
	margin-left: 230px;
}

.pager-list ul {
	margin: 0;
	padding: 0;
}

.pager-list ul li {
	min-width: 20px;
	display: inline-block;
	text-align: center;
	padding-left: 5px;
}

.page-button {
	text-decoration: none;
	padding: 10px 15px;
	border: 1px solid #e5e5e5;
	color: #000000;
	text-transform: uppercase;
	border-radius: 5%;
}

.about-item {
	background: #f2f6f8;
}

.about-item h2 {
	font-family: 'Cuprum', 'Arial', sans-serif;
	color: #000000;
	font-size: 30px;
	font-weight: 400;
	margin: 0 0 20px;
}

.about-item p {
	font-family: 'OpenSans', sans-serif;
	color: #000000;
	line-height: 24px;
	margin: 0;
}

.about-item-description {
	width: 940px;
	padding: 70px 0;
	margin: 0 auto;
}
